//footer

.logiño {
   width: 3rem;
   height: 3rem;
   justify-content: center;
}

.foo {
   background-color: rgb(2, 2, 2);
   color: antiquewhite;
   text-align: center;
   text-transform: uppercase;
}

//fin de footer