//comienzo de mi hearder

.logo {
    width: 6rem;
    border-radius: 50%;
}

.epico {
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    padding: 10px;
    color: azure;
    text-decoration: overline;
    background-color: $colorPrincipal;
    font-weight: bold;
}

//fin de mi header